*
*.*

!.gitignore
!.ignore

!emacs-config.org
!early-init.el
!init.el
!README.md
!custom.el

!info
!info/*

!etc
!var

!etc/abbrev.el

!etc/early-load
!etc/early-load/*

!etc/elfeed
!etc/elfeed/elfeed.org


!etc/org
!etc/org/agenda-files.txt

!etc/eshell
!etc/eshell/alias

!etc/elisp
!etc/elisp/*.el

!etc/hosts
!etc/hosts/thinkpadx270
!etc/hosts/thinkpadx270/custom.el
!etc/hosts/thinkpadx60
!etc/hosts/thinkpadx60/custom.el
!etc/hosts/intelnuc
!etc/hosts/intelnuc/custom.el
!etc/hosts/xmgneo
!etc/hosts/xmgneo/custom.el

!etc/straight
!etc/straight/versions
!etc/straight/versions/default.el


!editor-config
!editor-config/*

!bin
!bin/*

!exwm
!exwm/*


!images
!images/*

!straight
!straight/versions
!straight/versions/*

!linux-init
!linux-init/*
!linux-init/DotFiles/
!linux-init/DotFiles/*

!linux-init/test-files/
!linux-init/test-files/*
!linux-init/test-files/subdir
!linux-init/test-files/subdir/*


!build
!build/scripts
!build/scripts/*
