*
*.*

!.gitignore
!git_config.backup
!init.el
!init-erc.el
!straight-bootstrap.el
!README.md
!plan.org
!.ignore
!.projectile

!/config
!/config/*

!/editor-config
!/editor-config/*

!/eshell
!/eshell/alias

!/exwm
!/exwm/*

!/elisp
!/elisp/rgr-*.el

!/elisp/hosts
!/elisp/hosts/*.el

!/elisp/lessons
!/elisp/lessons/*.org

!/images
!/images/*

!/straight
!/straight/versions
!/straight/versions/*

!/linux-init
!/linux-init/*
!/linux-init/DotFiles/
!/linux-init/DotFiles/*

!/linux-init/test-files/
!/linux-init/test-files/*
!/linux-init/test-files/subdir
!/linux-init/test-files/subdir/*


!/build
!/build/scripts
!/build/scripts/*
