*
*.*

!.gitignore
!.gitattributes
!.ignore

!emacs-config.org
!early-init.el
!init.el
!README.md
!custom.el

!elpaca-versions.lock

!info
!info/*

!etc
!var
!var/secrets
!var/secrets/bmkp
!var/secrets/bmkp/*
!var/secrets/ement-sessions.el


!etc/abbrev
!etc/abbrev/*

!etc/early-load
!etc/early-load/*

!etc/elfeed
!etc/elfeed/elfeed.org


!etc/org
!etc/org/agenda-files.txt
!etc/org/template.org

!etc/eshell
!etc/eshell/alias

!etc/elisp
!etc/elisp/*.el
!etc/elisp/README


!etc/hosts
!etc/hosts/thinkpadx270
!etc/hosts/thinkpadx270/custom.el
!etc/hosts/thinkpadx60
!etc/hosts/thinkpadx60/custom.el
!etc/hosts/intelnuc
!etc/hosts/intelnuc/custom.el
!etc/hosts/xmgneo
!etc/hosts/x13amdg4
!etc/hosts/x13amdg4/faces.el
!etc/hosts/xmgneo/custom.el

!editor-config
!editor-config/*

!bin
!bin/*

!images
!images/*

!straight
!straight/versions
!straight/versions/*
